.nav-it-style{
    padding: 0px 50px !important;
    font-size: 23px;
}

body{
    font-family: 'Georgia', serif !important;
    height: 100%;
}

.footer{
  background-color: rgb(218, 245, 255);
  width: 100% !important;
  height: 400px;
}

.navbar1{
    width: 100% !important;
    position: fixed;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

h1{
    padding-top: 20px;
    text-align: center;
    font-size: 50px !important;
}

p{
    font-size: 22px;
    padding: 0px 30px;
}

.search{
    display: flex;
}

.search-hover:hover{
    background-color: rgb(232, 160, 191) !important;
    color: white;
}

.navbar-expand-lg .navbar-collapse{
    display: flex!important;
    justify-content: space-between ;
}

.my-2 {
    padding: 0 50px !important;
}

.ft{
    padding-bottom: 5px;
}

.fta{
    font-size: 24px !important;
    color:rgb(111, 190, 233);   
}

.vm-img{
    display: flex;
    justify-content: center;
}

.vm{
    display: flex;
    justify-content: center;
}

.ddown{
    color: rgb(87, 108, 188);
    padding-right: 10px;
    font-size: 16px;
}

/* li.nav-item.active {
    padding-top: 4px !important;
}

li.nav-item {
    padding-top: 4px !important;
} */

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem !important; 
    padding-left: 2.5rem;
}

.tit{
    background-image: linear-gradient(to right, rgb(255, 248, 225) , rgb(255, 229, 241));
  }

.form-control{
    width: 40% !important;
    height: 60px;
}

.t-form{
    background-image: url('https://cms.learningthroughplay.com/media/bzmc2jcr/shutterstock_654385090.jpg?width=2560');
    font-family: math;
    font-size: 24px;
}

.serv{
    display: flex;
    flex-direction: row;
    height: 650px;
    width: 100%;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
}
 .serv-item{
    padding-top: 20px;;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
 }

 .serv-1{
    border:0;
    border-radius: 10%;
    background-color:rgb(253, 244, 245) !important;
    padding-left: 20px;
 }

.serv-2{
    width: 600px !important;

}

input.form-control.mr-sm-2 {
    width: 450px !important;
    height: 40px;
}

.btn-outline-success {
    color: black;
    border-color: rgb(232, 160, 191);
}

.ic{
    font-size: 23px;
    color:rgb(87, 108, 188);
}

.row{
    justify-content: space-around;
}

